<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhou.captain.loginlib"> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="debug.ModuleLoginApp"
        android:theme="@style/AppTheme.Base">
        <activity
            android:name="com.zhou.captain.loginlib.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"></activity>
    </application>


</manifest>